h1 {
	
	color: green;
	
	text-align: center;
		
	}

table {

  border-collapse: collapse;
  
  width: 650px;
  
  margin: auto;
  
  text-align: center;
  
  font-size: 1.15em;
  
  }
  
  
th {
	
	width: 20%;
	
	border-width: 2px;
	
	border-style: solid;
	
	border-color: black;
	
	background-color: yellow;
	
	text-align: center;
	
	font-weight: bold;
	
	padding: 5px 0;
	
	}
	
td {

	border-width: 2px;
	
	border-style: dotted;
	
	border-color: blue;
	
	padding: 5px 0;
	
	}
	
.red {

	color: red;
	
	}
	
.blue {

	color: blue;
	
	}
	
body {
	
	font-family: Verdana;
	
	}
